#main-content{
    width: 1200px;
    margin: 20px auto;
    height: 900px;
}
header{
    background-color: skyblue;
    width: 1200px;
    height: 100px;   
    float:left;    
}
nav{
    background-color: skyblue;
    width: 1200px;
    height: 50px;
    float:left;
    margin-top:4px;
    margin-bottom: 4px;
}
sidebar{
    background-color: skyblue;
    width: 200px;
    min-height: 600px; 
    float:left;
    margin-right: 4px;
}
content{
    background-color: skyblue;
    width: 996px;
    min-height: 600px;
    float:left;
}
footer{
    background-color: skyblue;
    width: 1200px;
    height: 80px;  
    float:left;
    margin-top:4px;
}
